.home-section {
  background: #fdfdfd;
}

.hot-topics {
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    .hot-topic-img {
      position: relative;
      height: fit-content;
      width: fit-content;
      img {
        width: 100%;
        min-width: 200px;
        height: auto;
        border-radius: 10px;
      }
      .hot-topic-info {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fdfdfd;
        h2 {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    .hot-topic-text {
      flex-grow: 1;
      font-size: large;
    }
  }
}

.latest-img {
  width: 100px;
}

@media screen and (max-width: 600px) {
  .content {
    justify-content: center;
    .hot-topic-text {
      display: none;
    }
  }
}
