#light.card-latest {
  color: #121221;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #fdfdfd;
}

#dark.card-latest {
  color: #fdfdfd;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #444444;
}

#light.update-latest {
  color: #121221;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#dark.update-latest {
  color: #fdfdfd;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (max-width: 600px) {
  //   .card-content {
  //     display: flex;
  //     flex-direction: row;
  //   }
  .update-latest {
    display: flex;
    flex-direction: column;
  }
  .publish {
    font-size: small;
  }
  .source {
    font-size: 10px;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
}
